=content_for :title 
  | #{@item.title} - awesomes

=content_for :keywords
  | #{@item.reponm}源码,#{@item.tag},源码解析

=content_for :con
  div.topic-wraper 

    div.title
      h3 =@item.title
      a[href="/mem/#{@item.mem.id}" title="#{@item.mem.nc}"]: img.tx[src="#{@item.mem.avatar_url}"] 
      /small 发布于 2012-12-12 阅读 123次


    article.con
      | #{raw GitHub::Markdown.render @item.con}

      div.info#source-extra
        /ul
        /  li
        /    | 版权声明：自由转载-非商用-非衍生-保持署名
        /  li 发表日期： 2015年11月 2日
        /  li 原文链接：http://awesomes.cn/source/1

        /wb:share-button[appkey="3977462330" addition="number" type="button" default_text="#{}"]

        /wb:like[appkey="6pvjia"]
        p.favor[class="{{isfavor ? 'on' : ''}}"  v-on:click="favor()"]
          i.fa.fa-heart.open-login[title="喜欢"]
          p[v-text="favor_count"]
      div.info  
        p
          | 代码来自
          a<>[href="#{@item.origin}" target="_blank"] =@item.reponm
          | 由
          a<>[href="/mem/#{@item.mem.id}"] =@item.mem.nc
          | 于 2012-12-13 原创发布 访问 #{@item.visit} 次
        p 
          | 本文遵循
          a<>[href="http://creativecommons.org/licenses/by/4.0/" target="_blank"] 共享署名 4.0 国际许可协议
          | 如需转载，请务必注明来源 
        
        -if is_author or is_admin
          p
            a.btn.btn-default[href="/source/#{@item.id}/edit"] 
              i.fa.fa-pencil>
              | 编辑


    /div.topic-author
    /  img.tx[src="http://assets.renjk.com/mem/15110311364229168909.jpg"] 
    /  /p: strong 笔墨伺候 
    /  /wb:follow-button[uid="2991975565" type="red_2" width="136" height="24"]
        
  
  div.topic-extra.opers[style="padding-bottom: 0;"]
    /wb:share-button[appkey="3977462330" addition="number" type="button" default_text="「#{@item.title}」- 源码来自 #{@item.reponm} 详情请戳"]
  
    a.pub.open-login[href="/source/new" title="发布主题"]
      i.fa.fa-plus
    div.right
      /wb:like[appkey="6pvjia" type="number"]
      a.next[href="/source/#{@next.id}"]
        | NEXT
        i.fa.fa-angle-right<>
  
  // ad
  div.topic-extra
    =render "layouts/ad", position: 'SOURCE_INDEX_BOTTOM'

  div.topic-extra
    =render "layouts/comment"

  
  /script[src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js"]
  
  javascript:
    var source_item={
      id: "#{@item.id}",
      favor: "#{@item.favor}"
    }
    $(function(){
      setTimeout(function(){
        $.post("/source/#{@item.id}/visit", {} , function(){

        })
      },3000)
    })

  coffee:
    $ ()->
      app = new Vue
        el: "#source-extra"
        data:
          isfavor: false
          favor_count: source_item.favor
          para: 
            opertyp: 'FAVOR'
            typ: 'TOPIC'
            idcd: source_item.id
        
        methods:
          init: ()->
            if Rails.islogin
              $.post "/oper/whether",app.para,(data)->
                app.isfavor =  data
          favor: ()->
            $.post "/oper/update",app.para,(data)->
              app.isfavor =  data.state
              app.favor_count = data.count


      app.init()

       

              
                  






