
-content_for :con
  div
    =form_for(@item,url: "/source/save",html:{id: 'inform',method: 'post'}) do |item|
      div.form-group
        =item.label :title,"标题"
        =item.text_field :title,{class: 'form-control'}

      div.form-group
        =item.label :origin,"代码来源"
        =item.text_field :origin,{class: 'form-control'} 

      
  
      div.form-group
        label 源码解读
        div[style="height: 500px;"]
          =render "layouts/markdown_editor"

      div.form-group
        =item.label :tag,"标签（多个标签以 , 分隔）"
        =item.text_field :tag,{class: 'form-control'}     

      input#tmp-con[type="hidden" value="#{@item.con}"]
      =item.hidden_field :con,{class: 'editor-val'}
      button.btn.btn-danger[type="submit"] 确认发布

    javascript:
      $('#inform').validate({ 
        rules:{
          'topic[title]':{
            required: true,
          },
          
        },
        messages:{
          'topic[title]':'',
        }, 
      }); 

      if(localStorage["markdown_source"]){
        markdown_editor.setValue(localStorage["markdown_source"]); 
      }
      markdown_editor.on("change",function(){
        localStorage["markdown_source"] = markdown_editor.getValue();
      })

      if(markdown_editor.getValue() == ''){
        markdown_editor.setValue($("#tmp-con").val());
      }  
  