@charset "UTF-8";
/* line 1, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wrap {
  padding-left: 200px;
  position: relative;
  min-height: 500px;
}
/* line 3, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wrap .left-bar {
  width: 180px;
  padding-right: 10px;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  border-right: #ddd 1px solid;
}
/* line 5, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wrap .left-bar .inner {
  padding: 20px;
  padding-top: 0;
}
/* line 6, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wrap .left-bar .tx {
  width: 100%;
}
/* line 7, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wrap .left-bar ul {
  margin: 0;
  padding: 0;
}
/* line 9, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wrap .left-bar ul li {
  list-style: none;
}

/* line 17, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper {
  max-width: 800px;
}
/* line 19, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .banner {
  text-align: center;
  margin-top: 50px;
}
/* line 20, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .tx {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-bottom: 10px;
}
/* line 22, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .menu {
  text-align: center;
  display: block;
  border: #DDD 1px solid;
  border-left: 0;
  border-right: 0;
  padding: 5px;
  margin: 20px 0;
  padding: 20px 50px;
}
/* line 25, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .menu li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}
/* line 26, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .menu a {
  text-decoration: none;
  color: #333;
  padding: 0 6%;
}
/* line 30, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .menu a span {
  color: #555;
  font-weight: bold;
}
/* line 37, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .menu .active * {
  color: Red;
}
/* line 39, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .menu p {
  margin: 0;
}
/* line 44, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .con .sites {
  text-align: center;
  padding: 10px;
  border-bottom: #E6E6E6 1px solid;
  margin-bottom: 30px;
}
/* line 46, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .con .sites i {
  font-size: 30px;
}
/* line 47, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .con .sites > div {
  display: inline-block;
  margin: 10px;
}
/* line 52, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .home-wraper {
  max-width: 500px;
  margin: 0 auto;
  border: #F0F0F0 1px solid;
  padding: 50px;
  margin-top: 50px;
}
/* line 54, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .home-wraper a {
  color: #444;
}
/* line 56, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .home-wraper #rank-wraper .data, .mem-wraper .home-wraper #rank-wraper h3 {
  color: #DA552F;
}
/* line 57, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .home-wraper #rank-wraper h3 {
  cursor: pointer;
  display: inline-block;
}
/* line 60, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .home-wraper #using-wraper {
  text-align: center;
}
/* line 62, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .home-wraper #using-wraper a {
  text-decoration: none;
}
/* line 63, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .home-wraper #using-wraper .cover {
  width: 100%;
  border-radius: 4px;
}
/* line 67, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .home-wraper #using-wraper .close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 18px;
  display: none;
}
/* line 74, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .home-wraper #using-wraper .item {
  margin-top: 20px;
}
/* line 77, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .home-wraper #using-wraper .item:hover .close {
  display: inline-block;
}
/* line 82, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .home-wraper #using-wraper .title {
  height: 30px;
  display: block;
  overflow: hidden;
}
/* line 92, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .home-extra {
  text-align: center;
  padding-top: 50px;
}
/* line 94, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-wraper .home-extra .rank-note {
  font-size: 10px;
  color: #989898;
}

/* line 101, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-main {
  background-color: #FFF;
  margin-top: 20px;
}
/* line 103, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-main .menus {
  border: #EEE 1px solid;
  border-bottom: #DDD 3px solid;
}
/* line 105, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-main .menus ul {
  margin: 0;
  padding: 0;
}
/* line 106, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-main .menus li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
  padding-top: 13px;
}
/* line 108, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-main .menus li a {
  text-decoration: none;
  color: #ADADAD;
}
/* line 109, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-main .menus li.active {
  border-bottom: #DA552F 3px solid;
  margin-bottom: -3px;
}
/* line 111, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mem-main .menus li.active a {
  color: #616161;
}

/* line 129, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.github-list .list-group a:link, .github-list .list-group a:visited {
  color: #444;
}
/* line 132, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.github-list .list-group small {
  color: #888;
}
/* line 133, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.github-list .list-group .list-group-item {
  position: relative;
}
/* line 135, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.github-list .list-group .list-group-item > p {
  margin: 0;
  padding-right: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
/* line 137, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.github-list .list-group .stars {
  position: absolute;
  right: 10px;
  top: 20px;
}
/* line 139, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.github-list .sync {
  color: #888;
  float: right;
}

/* line 143, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mark-list .thumbnail {
  padding: 0;
}
/* line 145, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mark-list .thumbnail .close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 18px;
  display: none;
}
/* line 147, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mark-list .thumbnail:hover .close {
  display: inline-block;
}
/* line 149, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mark-list .thumbnail .caption {
  border-top: #EEE 1px solid;
}
/* line 152, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.mark-list .thumbnail h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

/* line 159, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.info-wraper .uptx {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}
/* line 165, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.info-wraper .upwrap {
  text-align: center;
}

/* 角色 */
/* line 173, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.role-user {
  background-color: #777;
}

/* line 176, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.role-vip {
  background-color: #ff9500;
}

/* line 180, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.thirty-bind {
  padding: 20px 0;
}
/* line 182, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.thirty-bind h5 {
  border: #DDD 1px solid;
  border-left: 0;
  border-right: 0;
  padding: 10px;
  text-align: center;
}
/* line 189, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.thirty-bind .item {
  position: relative;
  padding: 0 30px;
  padding-left: 25px;
}
/* line 194, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.thirty-bind .inner {
  overflow: hidden;
}
/* line 197, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.thirty-bind i.fa {
  font-size: 20px;
  position: absolute;
  left: 0;
  display: inline-block;
  top: 0;
}
/* line 204, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.thirty-bind a {
  right: 0;
  position: absolute;
  display: inline-block;
  top: 0;
}

/* line 214, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.msg-list-wraper p {
  display: inline-block;
  margin: 0;
}
/* line 218, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.msg-list-wraper .status {
  width: 10px;
  display: inline-block;
  background-color: #EEE;
  height: 10px;
  border-radius: 100%;
  float: left;
  margin-top: 8px;
  margin-right: 7px;
}
/* line 228, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.msg-list-wraper .status.UNREAD {
  background-color: #36d839;
}

/* line 236, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.wealth-wraper .bann {
  text-align: center;
  padding: 50px 0;
}
/* line 239, /home/hxh/share/awesomes/app/assets/stylesheets/application/mem.css.scss */
.wealth-wraper .bann h1 {
  color: red;
}
