/* line 1, /home/hxh/share/awesomes/app/assets/stylesheets/application/org.css.scss */
.capa-title {
  text-align: center;
  color: #444;
  border-bottom: #EEE 1px solid;
  padding: 20px;
}

/* line 4, /home/hxh/share/awesomes/app/assets/stylesheets/application/org.css.scss */
.capa-list {
  padding: 20px;
}
/* line 6, /home/hxh/share/awesomes/app/assets/stylesheets/application/org.css.scss */
.capa-list a {
  margin: 5px 0;
  display: inline-block;
}
/* line 7, /home/hxh/share/awesomes/app/assets/stylesheets/application/org.css.scss */
.capa-list .fa-file-pdf-o {
  color: #C5C4C4;
}

/* line 9, /home/hxh/share/awesomes/app/assets/stylesheets/application/org.css.scss */
.capa-logo {
  width: 300px;
  margin: 20px 0;
}
