/* line 1, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.about-wraper {
  padding: 10px;
  background-color: #F9F9F9;
  border: 1px solid #c9d8db;
}
/* line 3, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.about-wraper small {
  color: #969696;
}

/* line 6, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.contris {
  padding: 0;
  float: right;
}
/* line 8, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.contris li {
  list-style: none;
  display: inline-block;
  margin-left: 5px;
}
/* line 9, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.contris img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

/* line 12, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.resource-list {
  position: relative;
}
/* line 14, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.resource-list .list-group-item {
  border-color: #F0F0F0;
  border-left: 0;
  border-right: 0;
}
/* line 18, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.resource-list .list-group-item:hover span.yes .op {
  display: inline-block;
}
/* line 21, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.resource-list .list-group-item:first-child {
  border: 0;
}
/* line 26, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.resource-list .opers {
  position: absolute;
  right: 10px;
  width: 100px;
  top: 10px;
  text-align: right;
}
/* line 28, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.resource-list .opers a {
  margin-left: 10px;
  opacity: 0.5;
  display: inline-block;
}
/* line 30, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.resource-list .opers a:hover {
  opacity: 1;
}
/* line 33, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.resource-list .opers a.op {
  display: none;
}
/* line 35, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.resource-list .opers .tx {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  -webkit-transition: all,.5s,ease,0s;
}

/* line 42, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.panel-footer small {
  color: #898989;
}
/* line 44, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.panel-footer small a {
  color: #898989;
  font-weight: bold;
}

/* line 48, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.diff-wraper > article {
  padding: 20px;
  background-color: #FFF;
  display: block;
}

/* line 53, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.diff-list {
  padding: 0;
}
/* line 55, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.diff-list li {
  list-style: none;
  display: block;
  border-bottom: #D3D3D3 1px dashed;
}
/* line 56, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.diff-list .tx {
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

/* line 62, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-item {
  display: block;
  height: 150px;
  background-color: #FD635E;
  text-align: center;
  margin: 15px 0;
  box-shadow: 1px 1px 1px #DDD;
}
/* line 64, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-item * {
  color: #FFF;
}
/* line 65, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-item i.fa {
  font-size: 3em;
}
/* line 66, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-item h3 {
  margin: 0;
  font-size: 18px;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
/* line 67, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-item.h-2 {
  height: 330px;
}
/* line 69, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-item.h-2 h3 {
  font-size: 2em;
  padding-top: 50px;
}
/* line 70, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-item.h-2 i.fa {
  font-size: 10em;
}

/* line 75, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-list .more {
  display: block;
  width: 200px;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #EEE;
  color: #bbb;
}

/* line 78, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-extra {
  margin-top: 20px;
}
/* line 80, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-extra .panel-heading {
  text-align: center;
}
/* line 82, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-extra .panel-heading h4 {
  display: inline-block;
}

/* line 87, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.experience {
  padding: 10px;
  background-color: rgba(49, 112, 143, 0.07);
  color: #3b5f7b;
}
/* line 94, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.experience .inner {
  padding-right: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
/* line 102, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.experience .title {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}
/* line 107, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.experience .tx {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 5px;
}
/* line 114, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.experience a {
  text-decoration: none;
}
/* line 118, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.experience .visit {
  position: absolute;
  right: 15px;
}

/* line 125, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper {
  border: 0;
  border-top: 0;
  box-shadow: none;
}
/* line 127, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .nav-heading {
  padding: 5px;
  font-size: 12px;
  background-color: #FFF;
}
/* line 129, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .nav-heading > ol {
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: #FFF;
}
/* line 134, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .main-heading {
  padding: 20px;
  position: relative;
  min-height: 120px;
  background-color: #FFF;
}
/* line 136, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .main-heading > h2 {
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
/* line 137, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .main-heading > .menu {
  width: 150px;
  float: right;
}
/* line 139, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .main-heading > .menu > * {
  display: block;
  background-color: #19C2FF;
  text-decoration: none;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: center;
  color: #FFF;
}
/* line 141, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .main-heading > .menu > *.gitbtn {
  background-color: #EF4245;
  color: #FFF;
}
/* line 145, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .main-heading > .menu .com {
  padding: 0;
}
/* line 147, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .main-heading > .menu .com > a {
  display: inline-block;
  width: 50%;
  text-align: center;
  color: #FFF;
  padding: 5px 0;
  text-decoration: none;
}
/* line 150, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .main-heading > .menu .com a + a {
  background-color: #E7E7E7;
  color: #19C2FF;
}
/* line 155, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .main-heading > p {
  color: #7E7E7E;
}
/* line 158, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .params {
  overflow: hidden;
  color: #868686;
  background-color: #FFF;
  color: rgba(81, 162, 81, 0.91);
  font-size: 12px;
  font-weight: bold;
}
/* line 160, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .params > div {
  border: #E4E4E4 1px solid;
  padding: 10px;
  border-right: 0;
  text-align: center;
  border-top: 0;
}
/* line 165, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .banner-title {
  border: #E4E4E4 1px solid;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  border-left: 0;
  border-right: 0;
}
/* line 171, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .detail {
  padding: 30px;
  /* padding-right: 150px;  */
  position: relative;
  display: block;
  word-break: break-all;
  font-size: 15px;
}
/* line 173, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .detail img {
  max-width: 100%;
}
/* line 174, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .detail > .bar {
  position: absolute;
  right: 0px;
  top: 20px;
}
/* line 176, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .detail > .bar ul {
  margin: 0;
  padding: 0;
}
/* line 178, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .detail > .bar ul li {
  display: block;
  padding: 10px;
  color: #999999;
  font-weight: bold;
}
/* line 184, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .detail > .lang {
  display: inline-block;
  background-color: #EEE;
  padding: 0 10px;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 12px;
  z-index: 100;
}
/* line 186, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .detail > .lang span {
  color: #C2C2C2;
  cursor: pointer;
}
/* line 188, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .detail > .lang span.on {
  color: #ff7b7b;
}
/* line 192, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .detail > .lang span + span:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
/* line 199, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .detail > article {
  z-index: -1;
}
/* line 203, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .detail .no-zh {
  text-align: center;
}
/* line 205, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .detail .no-zh h4 {
  margin: 20px 0;
}
/* line 209, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .panel-footer {
  color: #919191;
}
/* line 211, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper > .panel-footer a {
  color: #444;
}
/* line 214, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper .edit-footer {
  border-top: #C5C5C5 1px dashed;
  padding: 10px 0;
  color: #999;
  font-size: 13px;
  margin-top: 10px;
}
/* line 217, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper .edit-footer .mem-wraper {
  width: 80px;
  text-align: center;
  display: inline-block;
  color: #C2C1C1;
  margin: 10px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* line 220, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.view-wraper .edit-footer .mem-wraper .tx {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

/* line 227, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.doc-editor {
  z-index: 10;
  width: 100%;
  height: 100%;
  padding-top: 75px;
  position: absolute;
  box-sizing: border-box;
  top: 0;
}

/* line 228, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.doc-title {
  padding: 5px;
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 100;
}
/* line 230, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.doc-title .btns-wrap {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 231, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.doc-title .doc-merge-btn {
  position: absolute;
  top: 10px;
  right: 250px;
}
/* line 232, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.doc-title h4 {
  display: inline-block;
}

/* line 236, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
#repo-trends {
  max-width: 750px;
  margin: 0 auto;
  background-color: #FFF;
  color: #FFF;
}
/* line 238, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
#repo-trends .trend-head {
  background-color: #DA552F;
  padding: 20px 50px;
  text-align: center;
  position: relative;
}
/* line 241, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
#repo-trends .trend-head .category {
  background-color: rgba(0, 0, 0, 0.3);
  color: #DA552F;
  padding: 10px;
  border-radius: 100px;
  display: inline-block;
}
/* line 242, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
#repo-trends .trend-head .period {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
/* line 243, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
#repo-trends .trend-head.bottom {
  background-color: #DDD;
  text-align: center;
  color: #696969;
}

/* line 250, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-menus {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}
/* line 252, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-menus > a {
  display: inline-block;
  margin: 15px;
  color: #444;
  text-decoration: none;
}
/* line 254, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-menus > a.active {
  color: #d9534f;
  font-weight: bold;
}

/* line 259, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.sub-menus {
  text-align: center;
  font-size: 13px;
}
/* line 261, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.sub-menus > a {
  display: inline-block;
  margin: 15px;
  color: #979797;
  display: none;
  text-decoration: none;
}
/* line 263, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.sub-menus > a.on {
  display: inline-block;
}
/* line 264, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.sub-menus > a.active {
  color: #d9534f;
  font-weight: bold;
}

/* line 268, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner {
  padding: 30px 0;
  padding-top: 0px;
  position: relative;
  background-color: #F8F8F8;
}
/* line 270, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .inner {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
}
/* line 273, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .cover {
  padding: 10px;
  background-color: #FFF;
  box-shadow: 1px 1px 10px #f4f4f4;
}
/* line 277, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .repo-title a {
  text-decoration: none;
  color: #333;
}
/* line 279, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .menu {
  margin: 20px 0;
}
/* line 281, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .menu a {
  display: inline-block;
  padding: 5px 20px;
  color: #FFF;
  text-decoration: none;
  background-color: #EEE;
  margin-right: 40px;
  border-radius: 100px;
  background-color: #19C2FF;
}
/* line 285, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .menu a.gitbtn {
  background-color: #EF4245;
}
/* line 286, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .menu a.download {
  background-color: #FFF;
  border-radius: 100%;
  font-size: 35px;
  text-align: center;
  padding: 0;
  color: #29B996;
  position: relative;
  width: 50px;
  height: 10px;
}
/* line 289, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .menu a.download i {
  position: absolute;
  top: -12px;
  left: 0;
}
/* line 294, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .params {
  color: rgba(81, 162, 81, 0.91);
  font-weight: bold;
}
/* line 296, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .params div {
  display: inline-block;
  margin: 20px 40px;
  margin-left: 0;
}
/* line 298, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .params .using {
  color: #bbb;
  float: right;
  margin: 20px 0;
}
/* line 302, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .params .using span {
  padding: 4px 5px;
  padding-right: 10px;
}
/* line 306, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .params .using .me {
  border: #bbb 1px solid;
  cursor: pointer;
  padding: 4px 10px;
}
/* line 311, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .params .using a {
  color: #bbb;
}
/* line 312, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .params .using i.fa {
  font-size: 14px;
  color: #bbb;
  cursor: pointer;
}
/* line 318, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .params .using.active-true .me {
  color: #ff9500;
  border-color: #ff9500;
}
/* line 327, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .repo-crumb {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 0;
  position: relative;
}
/* line 329, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .repo-crumb a {
  display: inline-block;
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #F5F5F5;
  color: #DDD;
}
/* line 333, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .repo-crumb a.root {
  background-color: #DDD;
  color: #FFF;
}
/* line 339, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .collect {
  width: 30px;
  color: #CCC;
  display: inline-block;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0px;
}
/* line 341, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .collect i {
  font-size: 30px;
  cursor: pointer;
}
/* line 344, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .collect a {
  color: #ccc;
}
/* line 347, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .collect .icon-heart {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
}
/* line 353, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .collect .icon-heart.on {
  fill: #EF4245;
}
/* line 354, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .collect .icon-heart.expand {
  width: 120px;
  height: 120px;
  opacity: 0;
  left: -45px;
  top: -45px;
  fill: #BBB !important;
}
/* line 366, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner #repot_rend {
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 200px;
}
/* line 371, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .run-code {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 40px;
  text-align: center;
  line-height: 35px;
  margin: 0;
  box-shadow: 0px 0px 1px #C2C2C2;
  bottom: 100px;
  overflow: hidden;
  font-size: 12px;
  box-sizing: content-box;
}
/* line 376, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .run-code a {
  display: block;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  color: #FFF;
}
/* line 378, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .run-code a:nth-child(1) {
  background-color: #8a6d3b;
}
/* line 381, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .run-code a:nth-child(2) {
  background-color: #ff9500;
}
/* line 388, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .run-code.no-code a:nth-child(1) {
  background-color: #9F9F9F;
  color: #888888;
}
/* line 396, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .thirty-tool {
  margin-top: 20px;
  text-align: right;
}
/* line 398, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .thirty-tool a {
  display: inline-block;
  margin-left: 30px;
  color: #cda3a2;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
}
/* line 401, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.repo-banner .thirty-tool a:hover {
  color: #cda3a2;
}

/* line 410, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.using-wraper {
  padding: 10px;
}
/* line 412, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.using-wraper h4 {
  text-align: center;
  padding: 30px;
}
/* line 416, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.using-wraper .use-item {
  text-align: center;
  margin: 10px 0;
}
/* line 419, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.using-wraper .use-item h5 {
  height: 30px;
  overflow: hidden;
}
/* line 422, /home/hxh/share/awesomes/app/assets/stylesheets/application/repo.css.scss */
.using-wraper .use-item .tx {
  width: 50px;
  height: 50px;
  border-radius: 3px;
}
