/* line 1, /home/hxh/share/awesomes/app/assets/stylesheets/application/site.css.scss */
.site-wraper {
  font-size: 15px;
}
/* line 3, /home/hxh/share/awesomes/app/assets/stylesheets/application/site.css.scss */
.site-wraper h1 {
  text-align: center;
  font-size: 30px;
  border-bottom: #E5E5E5 1px solid;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
/* line 4, /home/hxh/share/awesomes/app/assets/stylesheets/application/site.css.scss */
.site-wraper .left-menus {
  margin-top: 30px;
}

/* line 8, /home/hxh/share/awesomes/app/assets/stylesheets/application/site.css.scss */
.logos-wraper img {
  margin-right: 50px;
}
/* line 9, /home/hxh/share/awesomes/app/assets/stylesheets/application/site.css.scss */
.logos-wraper p {
  margin-top: 40px;
}

/* line 13, /home/hxh/share/awesomes/app/assets/stylesheets/application/site.css.scss */
.links-wraper a {
  display: inline-block;
  margin: 5px 20px;
  margin-left: 0;
  color: #888;
}
/* line 15, /home/hxh/share/awesomes/app/assets/stylesheets/application/site.css.scss */
.links-wraper a.noborder {
  border: none;
}
/* line 16, /home/hxh/share/awesomes/app/assets/stylesheets/application/site.css.scss */
.links-wraper a img {
  height: 40px;
  border-radius: 4px;
}
/* line 18, /home/hxh/share/awesomes/app/assets/stylesheets/application/site.css.scss */
.links-wraper * {
  font-size: smaller;
}
