/* line 1, /home/hxh/share/awesomes/app/assets/stylesheets/application/store.scss */
.good-item {
  margin: 20px;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
}
/* line 7, /home/hxh/share/awesomes/app/assets/stylesheets/application/store.scss */
.good-item .cover {
  width: 100%;
}

/* line 13, /home/hxh/share/awesomes/app/assets/stylesheets/application/store.scss */
.wealth-table td {
  padding: 4px 0;
}
