=content_for :banner
  div.extension-banner
    h2 CSSHub
    h3 CSS 效果代码段


=content_for :con
  div.row
    div.col-md-4[v-for="item in csscodes"]
      div.css-hub[v-cloak]
        div.code[class="code-part-{{item.id}}"] {{{item.html}}}
        css:
          {{item.css}}
        
        div.info
          img.tx[src='{{item.mem.avatar_url}}']
          span.like
            i.fa.fa-heart>
            | 10

          span.like
            i.fa.fa-eye>
            | 1312  

          
          div.opers
            a[href="/css/{{item.id}}" title="在线编辑"]
              i.fa.fa-pencil>
              //span 在线编辑  

            a[href="javascript:void(0)"  title="查看代码" v-on:click="previewCode(item)"]
              i.fa.fa-search>
              //span 查看代码

          
  // 代码预览
  div.modal-wraper#preview-wraper
    //div.modal-title 插入媒体资源

    div.panel.panel-default
      div.panel-body
        pre[class="language-markup"]
          code[class="language-markup"] {{showcode.html}}

        pre[class="language-css"]
          code[class="language-css"] {{showcode.css}}  

    i.fa.fa-angle-up.close-modal   

  scss:
    #preview-wraper {
      position: fixed;
      width: 800px;
      margin-left: -400px;
      max-height: 100%;
      overflow-y: scroll;

      .modal-title {
        position: fixed;
        width: 100%
      }
    }
    
  javascript:
    vueExtend.push({
      data: {
        csscodes: [],
        showcode: {}
      },
      methods: {
        initcss: function() {
          $.get("/csscodes", {}, function(data){
            data.items.forEach(function(item){
              formatCss(item)
            })
            App.csscodes =  data.items 
          })
        },
        previewCode: function(item) {
          $.get('/css/code', {id: item.id}, function(data) {
            App.showcode = data;
            setTimeout(function() {
              Prism.highlightAll();
            }, 1000)
          })
          openModal('#preview-wraper')
        }
      }
    })

    function formatCss(item) {
      item.css = item.css.replace(/body([^{}]?)+{/, '.code-part-' + item.id + '{')
      item.css = item.css.replace(/csshub/g, 'csshub-' + item.id)
      item.html = item.html.replace(/csshub-/g, 'csshub-' + item.id + '-')
    }

    appInit.push(function(){
      App.initcss()
    })
