=content_for :title 
  | #{repos_title} - awesomes

doctype html
html
  head
    =render 'layouts/header'
  body
    =render 'layouts/top'
    =yield :banner
    div.container.l-margin.main-container
      div.row
        div.col-md-2
          =render 'layouts/left_bar'

        div.col-md-10
          =cache "repo_list_#{url_all_para}_#{I18n.locale}",skip_digest: true,:expires_in => 2.day do 
            =render 'repo/list'
          
    =render 'layouts/footer'
    


