=content_for :title 
  | #{t('source.name')} - awesomes

=content_for :keywords
  | 源码,源码解析,JavaScript源码,框架源码

=content_for :con
  =render 'source/banner'
  
  =cache "source_list_#{url_all_para}_#{I18n.locale}",skip_digest: true,:expires_in => 1.day do 
    =render 'source/list'
