=content_for :title 
  | 源码萃取 - awesomes

=content_for :con
  =render 'source/banner'
  
  =cache "source_list_#{url_all_para}_#{I18n.locale}",skip_digest: true,:expires_in => 2.day do 
    =render 'source/list'
