=content_for :title 
  |  专题 - awesomes


=content_for :con
  div.subject-banner
    h3 =t("site.subject")
  =cache "subject_list_#{url_all_para}_#{I18n.locale}",skip_digest: true,:expires_in => 2.day do
    =render "subject/list"
    
