=content_for :title 
  | VS 前端库比拼

=content_for :con
  h1.vs-logo: i VS
  p.text-center[style="color: #b1b1b1;"] =t('vs.slogan')
  div#vs-main[style="width: 100%;"]
  
  div.tips[v-if="vsitems.length > 0" v-cloak]
    p
      | #{t('vs.share')}
      strong<> https://www.awesomes.cn/vs/{{vsIds}} 
      | #{t('vs.sharend')}
  h4.text-center[v-else] =t('vs.noselect')

  script[src="/echarts/echarts.min.js"]
  

  javascript:
    var ids = "#{params[:ids]}".split('-')
    if(ids.length < 2){
      ids = _.map((store.get('awesomes-vs') || []), function(item){
        return item.id
      })
    }


    $.post('/vs.json', {ids: ids.join(',')}, function(data){
      $('#vs-main').css('height', data.repos.length * 100 + 4 * 80)
      drawChart(data.repos, data.reponms)
    })
    function drawChart(repos, reponms){
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('vs-main'));

      // 指定图表的配置项和数据
      var option = {
        title: {
            text: ''
        },
        tooltip: {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
           data: reponms
        },
        yAxis: {
            data: [  '#{t("vs.use")}',  '#{t("vs.vitality")}',  '#{t("vs.trend")}', '#{t("vs.hot")}']
        },
        xAxis: {
          splitLine: {
            show: false
          },
          axisLine: {
            show: false
          },
          axisTick:{
            show: false
          },
          axisLabel: {show: false}
        },
        series: repos
      };


      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    }

    vueExtend.push({
      data: {
        vsIds: ids.join('-')
      }
    })
