=content_for :con
  div#vs-main[style="width: 100%;"]
  
  div.tips
    
  
  script[src="/echarts/echarts.min.js"]
  

  javascript:
    var ids = (store.get('awesomes-vs') || []).join(',')

    $.post('/vs.json', {ids: ids}, function(data){
      $('#vs-main').css('height', data.repos.length * 150)
      drawChart(data.repos, data.reponms)
    })
    function drawChart(repos, reponms){
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('vs-main'));

      // 指定图表的配置项和数据
      var option = {
        title: {
            text: ''
        },
        tooltip: {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
           data: reponms
        },
        yAxis: {
            data: [  '在用',  '活跃度',  '趋势', '热度']
        },
        xAxis: {
          splitLine: {
            show: false
          },
          axisLine: {
            show: false
          },
          axisTick:{
            show: false
          }
        },
        series: repos
      };


      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    }