#menu_bar{
  a.list-group-item.on{color: Red}
}

.admin-wrap{
  margin-bottom: 100px;
}

table{
  width: 100%;
  tr{
    td{padding: 10px 0;}
  }
}

tr.UNREAD,tr.recsts-1{
  *{color: #BEBEBE}
  td.synced{
		a * {color: red;}
	}
}

body{background-color: #FFF!important}

td.synced{
	a{color: red;}
}

.categorys-wrap{
  & > .panel-default{margin-top: 10px;}
  .oper-wrap{
    i{display: inline-block; cursor: pointer; color: #BABABA}
  }
  .list-group-item{
    .oper-wrap{
      display: none;
    }
    &:hover{
      .oper-wrap{display: inline-block;}
    }
  }
}