div.sub-nav.hidden-xs.hidden-sm
  div.split[style="height: 50px;"]
  -@items.each do |rootyp, typval|
    div.first
      span =rootyp

    -typval.each do |typcd, val|
      div.second[data-link="#{rootyp}-#{typcd}"]
        a[href="##{rootyp}-#{typcd}"] =typcd

  div.placehold
div.row.sub-repos
  -@items.each do |rootyp, typval|
    -typval.each do |typcd, val|
      div.split[id="#{rootyp}-#{typcd}"]
      h3
        span[style="color: #CCC"] #{rootyp} 
        span<>[style="color: #cacaca"] » 
        span #{typcd}
      -val.each do |item|
        a.card.card-small[data-link="#{rootyp}-#{typcd}" href="#{item.link_url}"]
          img.cover[src='#{repo_cover_base item.cover}?x-oss-process=style/subject_repo']
          h4 =item.name
          div.sdesc =item.description_i18
          
          -_fresh = fresh item.pushed_at
          span.fresh[class="#{_fresh[0]}" title="更新于#{item.friendly_time}"]
          
          span.extra
            i.fa.fa-star>
            | #{item.stargazers_count} 

        
    div.clear
      

javascript:
  $(function(){
    var positions = $('.split').map(function(){
      return {
        id: $(this).attr('id'),
        top: $(this).offset().top
      }
    })

    $(document).scroll(function(){
      var doctop = $(document).scrollTop()
      if (doctop >= $('.sub-repos').offset().top) {
        $('.sub-nav').addClass('fixed')
      }else{
        $('.sub-nav').removeClass('fixed')
      }

      var activeEl = _.filter(positions, function(item){ return doctop >= item.top}).pop() || positions[0]
      console.log(activeEl.id)

      $('.sub-nav .second').removeClass('active')
      $('.sub-nav .second[data-link=' + activeEl.id  + ']').addClass('active')
      
      $('.card').removeClass('active')
      $('.card[data-link=' + activeEl.id  + ']').addClass('active')
    }).scroll()


    $(".sub-nav").mCustomScrollbar({
      theme:"dark",
      scrollInertia: 0,
    });


  })
