div.repo-banner
  div.inner.row
    div.col-md-4.col-sm-4
      =render "crumbs"
    div.col-md-8.col-sm-8
      div.thirty-tool.hidden-xs
        a[title="聊天室" href="https://gitter.im/#{@item.full_name}" target="_blank"]
          img[src="/svg/gitter.svg"  width="25" fill="#EEE"]

        a[href="http://stackoverflow.com/questions/tagged/#{@item.name}" title="提问" target="_blank"]
          i.fa.fa-stack-overflow>
        
        -if @item.default_code
          a[href="/code/#{@item.demo_code.id}/preview" title="在线演示"]
            i.fa.fa-desktop> 

          a[href="/code/#{@item.default_code.id}" title="在线编码"]
            i.fa.fa-flask>
        -else
          a[href="/code?rid=#{@item.id}" title="在线编码"]
            i.fa.fa-flask>
    div.clear   
    div.col-md-5.col-sm-5.hidden-xs
      
      a[href="#{@item.link_url}"]: img.cover[src='#{repo_cover_path @item.cover}']
      
      

    div.col-md-7.col-sm-7
      div.collect
        //i.open-login.fa.fa-heart[title="收藏" v-on:click="mark()" ]

        svg.open-login.icon-heart#like-btn[title="收藏" v-on:click="mark()" class="{{ismark ? 'on' : ''}}"]
          use[xlink:href="/fonts/icon.svg#heart"]

        p[style="margin-top: 30px;" v-cloak]
          a[href="#{@item.link_url}/favors" v-if="markcount > 0" v-text="markcount"]
          span[v-text="markcount" v-else]


      div.repo-title
        //img[src='#{repo_cover_path @item.cover}']
        h1 =@item.name.capitalize 
        p =@item.description
      
      

      div.menu.hidden-xs
        a[href="#{@item.homepage}"  target="_blank"]
          i.fa.fa-home>
          | 官 网 
        a.download[href="https://api.github.com/repos/#{@item.full_name}/zipball"  target="_blank" title="下载 ZIP"]
          i.fa.fa-cloud-download
        a.gitbtn[href="#{@item.html_url}" target="_blank"]
          i.fa.fa-github>
          | Github  
     
      div.params.hidden-xs
        div[title="星标数量" style="border-left: 0"]
          i.fa.fa-star>
          span =@item.stargazers_count
        div[title="最后更新时间"]
          i.fa.fa-clock-o>
          span =@item.friendly_time
        div[title="Fork数量"]
          i.fa.fa-code-fork>
          span =@item.forks_count
        /div[title="关注数量"]
        /  i.fa.fa-eye>
        /  span =@item.subscribers_count
        div[title="issue 响应速度"]
          i.fa.fa-exclamation-circle>
          span =@item.issue_friendly
        
        div.using[class="active-{{isusing}}"]
          a[href="#{@item.link_url}/using" v-if="usingcount > 0" v-cloak] {{usingcount}}
          label[v-else v-cloak] {{usingcount}}
          span.all 人在用
          span.me.open-login[v-on:click="using()"] 我在用
          
  javascript:
    var source_item= {
      id: "#{@item.id}",
      mark: "#{@item.mark}",
      using: "#{@item.using}"
    }
    

  coffee:
    $ ()->
      repovue = new Vue
        el: ".view-wraper"
        methods:
          switch: (la)->
            repovue.lang = la 

      bannerVue = new Vue
        el: '.repo-banner'
        data:
          ismark: false
          isusing: false
          markcount: source_item.mark
          usingcount: source_item.using
          para: 
            opertyp: 'MARK'
            typ: 'REPO'
            idcd: source_item.id
          usepara:
            opertyp: 'USING'
            typ: 'REPO'
            idcd: source_item.id

        methods:
          init: ()->
            if Rails.islogin
              $.post "/oper/whether", bannerVue.para, (data)->
                bannerVue.ismark =  data 
              $.post "/oper/whether", bannerVue.usepara, (data)->
                bannerVue.isusing =  data     

          mark: ()->
            $.post "/oper/update",bannerVue.para,(data)->
              bannerVue.ismark =  data.state
              bannerVue.markcount = data.count
              copy = $('#like-btn').clone().css({"z-index": 20})
              if bannerVue.ismark
                $('#like-btn').css({"fill": "#EF4245"})
                copy.appendTo($('#like-btn').parent()).animate({
                  width: 120,
                  height: 120,
                  opacity: 0
                  left: -45,
                  top: -45
                },300, ()-> copy.remove())
              else
                copy.addClass('expand')
                
                copy.appendTo($('#like-btn').parent()).animate(
                  {
                    width: 30,
                    height: 30,
                    opacity: 1,
                    left: 0,
                    top: 0
                  },300
                  ()-> 
                    $('#like-btn').css({"fill": "#BBB"})
                    copy.remove()
                )
          
          using: ()-> 
            $.post "/oper/update", bannerVue.usepara, (data)->
              bannerVue.isusing =  data.state
              bannerVue.usingcount = data.count       

       bannerVue.init()           
          


      

  css:
    .navbar{margin: 0}

