/ div.about-wraper
  /   h4 你正在为 #{params[:typ]} 添加中文文档
  /   p 请严格按照 markdown 格式书写文档，查看Demo 
div.doc-title
  h4
    | 你正在编辑 
    a<>[href="#{@item.link_url}"] =@item.name
    | 中文说明
  p 
    | 为了防止你正在编辑的内容丢失，默认加载你之前的输入，如果你是首次进入编辑文档，请手动获取最新
    a#getold<>[href=""] 最新版本
    | ，并在此基础上做修改
  
  input#upload_pic[type="file" multiple name="filedata" data-post="/upload/pic" data-text="上传图片" data-folder="repo"  ]

  =form_for(@item,url: "/readme/new",html:{id: 'item_form',method: 'post'}) do |item|
    input.editor-val[type="hidden" name="markdown"]
    input[type="hidden" name="rid" value="#{@item.id}"]
    input#readme-sdesc[type="hidden" name="sdesc" value="初始化文档"]
    div.btns-wrap
      input.btn.btn-danger.open-login#sub-doc[type="button" value="提交文档"] 
  javascript:
    $(function(){
      $("#getold").click(function(){
        if(confirm("确认将最新版本加载过来？这会导致你已输入的内容被覆盖！")){
          markdown_editor.setValue($("#tmp-con").val());
        }
        return false;
      })
    })


    uplaod_form($('#upload_pic'),function(data){
      markdown_editor.replaceSelection("![awesomes-cn]("+data.file_path+")");
    }) 
  
div.doc-editor
  =render "layouts/markdown_editor"




input#tmp-con[type="hidden" value="#{@item.about_zh.blank? ? @item.about : @item.about_zh}"]
javascript:
  if(localStorage["markdown_readme_#{@item.id}"]){
    markdown_editor.setValue(localStorage["markdown_readme_#{@item.id}"]); 
  }
  markdown_editor.on("change",function(){
    localStorage["markdown_readme_#{@item.id}"] = markdown_editor.getValue();
  })

  if(markdown_editor.getValue() == ''){
    markdown_editor.setValue($("#tmp-con").val());
  }

  $(function(){
    $("#sub-doc").click(function(){
      var sdesc=prompt("请输入提交的描述","")
      $("#readme-sdesc").val(sdesc);
      if(sdesc!=null && sdesc!=""){
        $("#item_form").submit();
      }
    })
  })

 
 
css:
  body{background-color: #FFF}
