=content_for :con
  div.main.new-lib
    =form_for(Submit.new,url: "/submit/save" ,method:'post',html:{id: 'inform'}) do |item|
      h2 =t('site.sub_title')
      p 
        =raw t('site.sub_tip')
        p: input.txt[type="text" name="html_url" placeholder= "https://github.com/jquery/jquery"]

      P
        span> =t('site.select_cato')
        select#root-typ[name="typ"]
          -Menutyp.flat_show.each do |item|
            -if params[:typ] == item[:key]
              option[value="#{item[:key]}" selected] =switl item[:key], item[:sdesc]
            -else
              option[value="#{item[:key]}"] =switl item[:key], item[:sdesc]

        

      p: button.btn.btn-danger[type="submit"] =t('form.sub')

    javascript:
      $('#inform').validate({ 
        rules:{
          'html_url':{
            required: true,
            url:true
          },
          
        },
        messages:{
          'html_url':'',
        }, 
      }); 
