=content_for :banner
  css:
    header,footer {
      display: none
    }
  -if @canbelock[:status]
    =render 'readme_editor'
  -else
    h4.canotlocktip[style="line-height: 30px;"]
      p =raw @canbelock[:tip]
      //p 还有一大波其它库等着你翻译额
      p
        a>[href="#{@item.link_url}"] << 返回

  
