=content_for :con
  ul.mem-list-wraper
    -@items.each do |item|
      li
        a[href="#{item.target_url}"] =item.target.name
        span<> =item.friendly_time
        div =item.con
  div#page-mem 
  input#mem-nav[type="hidden" value="comments"]

  javascript:
    $(function(){
      $("#page-mem").pagination(#{@count},{
        items_per_page : #{default_page_size},
        current_page : #{page},
        //link_to:"?page=__id__",
        callback: function(page){
          Turbolinks.visit("?page="+(page +1) );
        }
      }) 
    })