=content_for :con
  div.home-wraper
    h3 =@mem.nc
    p
      h3: i.fa[class="#{gender_icon}"]
    p
      span =@mem.mem_info.location

    div.row.sites
      div
        a[href="#{@mem.mem_info.blog}" target="_blank"]: i.fa.fa-home 
      

      div
        a[href="https://github.com/#{@mem.mem_info.github}" target="_blank"]: i.fa.fa-github

      div
        a[href="https://twitter.com/#{@mem.mem_info.twitter}" target="_blank"]: i.fa.fa-twitter  

      div
        a[href="http://weibo.com/#{@mem.mem_info.weibo_url}" target="_blank"]: i.fa.fa-weibo   
    

    /div.text-center
    /  h4 第 #{@mem.index} 位会员
    /  p 于 #{@mem.created_at} 加入

    / div#rank-wraper
    /   p.data
    /     | Github 前端排名
    /     -if !@mem.mem_rank.blank?  
    /       | （
    /       strong {{rank[level][0]}}
    /       | ）点击切换

    /   -if @mem.mem_rank.blank?
    /     -if @isme
    /       p
    /         | 请先
    /         a[href="/mem/info"] 设置你的Github用户名
    /     -else
    /       p 该用户尚未设置Github用户名
    /   -else    
    /     h3[title="点击切换" v-on:click="switch()"]
    /       i.fa.fa-trophy>
    /       | {{rank[level][1]}}
      
    
    div#using-wraper
      h5 我在用
      -if @isme
        p[style="color: #bfbfbf"] （可拖动排序，将最常用的放到前面）
      div.row#usings
        -@opers.each do |oper|
          -item = oper.use_repo
          div.col-md-3.col-sm-3.col-xs-4.item(data-order="#{oper.order}" data-id="#{oper.id}")
            a[href="#{item.link_url}"]
              img.cover[src='#{repo_cover_path item.cover}']
              span.title =item.name
            -if @isme  
              i.fa.fa-times-circle.close[data-id="#{item.id}"]
      
      javascript:
        var el = document.getElementById('usings');
        var sortable = Sortable.create(el, {
          animation: 150,
          onEnd: function (evt) {
            var prev = $(evt.item).prev().attr('data-order') 
            var next = $(evt.item).next().attr('data-order')
            var prev_order = prev ? parseInt(prev) : 0
            var next_order = next ? parseInt(next) : 0
            var now_order =  parseInt((prev_order + next_order) / 2)
            if(next_order == 0){
              now_order =  prev_order + 10000
            }
            $.post('/oper/uporder', {id: $(evt.item).attr('data-id'), order: now_order}, function(){
              $(evt.item).attr('data-order', now_order)
            })
          }
        });

        $(function(){
          $("#usings .fa-times-circle.close").click(function(){
            var item = $(this);
            $.post("/oper/update",{opertyp: 'USING',typ: 'REPO',idcd: item.attr('data-id')},function(data){
              if(data.state == false){
                item.closest(".item").fadeOut();
              }

            })
          })
        })

  div.home-extra
    //p.rank-note
      / | 排名数据由
      / a.normal<>[href="http://github-awards.com/" target="_blank"] github-awards
      / | 提供
  
  -if !@mem.mem_rank.blank?
    javascript:
      var rank_data = {
        country: ['本国',"#{@mem.mem_rank.country || '暂无排名'}"],
        worldwide: ['世界',"#{@mem.mem_rank.worldwide || '暂无排名'}"]
      }

    
    coffee:
      $ ()->
        rank_app = new Vue
          el: "#rank-wraper"
          data:
            rank: rank_data
            level: 'worldwide'

          methods:
            switch: ()->
              rank_app.level = (if rank_app.level == 'worldwide' then 'country' else 'worldwide')

      

      
