=content_for :con
  ul.list-group.mem-list-wraper
    -@items.each do |item|
      li.list-group-item
        a.repo[href="/source/#{item.id}"] =item.title
        i.fa.fa-angle-right<>
        | < #{item.origin.to_s.gsub(/http(.+)\/(.+)?#(.+)/,'\2')}  />
        span.right =item.created_at.strftime("%Y-%m-%d")
  div#page-mem      
  input#mem-nav[type="hidden" value="doc"]
  javascript:
    $(function(){
      $("#page-mem").pagination(#{@count},{
        items_per_page : #{default_page_size},
        current_page : #{page},
        //link_to:"?page=__id__",
        callback: function(page){
          Turbolinks.visit("?page="+(page +1) );
        }
      }) 
    })
