// 在线编码
.code-outer{
  width: 100%; padding: 20px; padding-top: 0; position: relative; padding-left: 220px; overflow: hidden;
  #left-bar{
    width: 200px; height: 700px; position: absolute; left: 20px; top: 0; border: #EEE 2px solid; border-right: 0;
    .repo{
      text-align:center; margin-bottom: 20px;
      a{color: #444; text-decoration: none}
    }
    .cover{
      width: 100%; border-radius: 4px;
    }
    ul{
      margin: 0; padding: 0;
      li{list-style: none; }
      a{text-decoration: none}
      a:link, a:visited{color: #777; }
      a:hover, a:active{color: #333; }
    }
    .inner-out{padding: 20px;}
    
  }
  .inner-bar{position: relative; width: 100%; height: 100%;}
  
  .fold{
    display: inline-block; width: 20px; height: 60px; top: 40%; background-color: #DDD; position: absolute; right: 0;
    text-align: center; line-height: 60px; cursor: pointer; opacity: 0.5; z-index: 100;
  }
  #toolbox{
    width: 300px;  position: absolute;  background-color: #FFF;  z-index: 800;  overflow-y: scroll;
    border-left: #EEE 1px solid;   top: 41px;    right: -300px;    height: 654px;
    
    select{ width: 100%;}
    
    
    ul{
      margin: 0; padding: 0;
      li{
        list-style: none; display: block; padding: 0px 10px; 
        &.level-1{
          padding: 5px 10px;border-bottom: #F5F5F5 1px solid; cursor: pointer;
          & > ul{
            display: none;
          }
        }
        &.level-2{
          display: none;
        }
        &.level-3{
          font-size: 12px; color: #8A8A8A;
        }
      }
    }
  }
  
  .side-bar{
    .fold-btn{
      position: absolute; font-size: 12px; top: 12px; right: 5px;  color: #DDD;cursor: pointer;
    }
  }

  .search{
    border-bottom: #EEE 1px solid; padding-right: 20px;  float: right;
    height: 40px;    border-left: #EEE 1px solid;    padding: 0 5px; 
    .txt{
      width: 100%; outline: none;     border: 0; height: 38px;line-height: 38px;
    }
  }
}

.code-editor{
  width: 100%;height: 700px; border: #EEE 2px solid; margin: 0 auto;  border-left: #EEE 1px solid; border-right: #EEE 1px solid;
  position: relative; overflow: hidden;
  
  .toolbar{
    height: 40px; border-bottom: #EEE 1px solid; padding:0 5px; line-height: 40px;
    & > a{
       cursor: pointer;  text-decoration: none; margin-right: 5px;
      &:visited, &:link{color: #BBB}
      &:hover, &:active{color: #444}
      &.right{
        margin: 0 10px;
      }
    }
    .tx{width: 20px; height: 20px; border-radius: 100%; margin-right: 5px;}

    .fold-btn{
      cursor: pointer; color: #B9B9B9;
      &.right{margin-top: 13px;}
    }
  }
  .p1, .p2, .p3, .p4{
    float: left;position: relative;  -webkit-user-select: none; -moz-user-select: none; -khtml-user-select: none;  
    -ms-user-select: none; -o-user-select: none;  user-select: none;
  }
  .p4{float: none}

  .splitx{
    width: 5px; border: 0; float: left; border-left: #EEE 1px solid; cursor: move;
    &:hover{ border-left: #DDD 1px dashed;}
  }
  .splity{
    height: 5px; border: 0;  border-top: #EEE 1px solid; cursor: move;
    &:hover{ border-top: #DDD 1px dashed;}
  }

  .code-preview{
    width: 100%; height: 100%; border: 0;
  }

  .window-cover{position: absolute; width: 100%; height: 100%;  top: 0; display: none}
  .online-label{ border: solid 1px #F1F1F1;background: #fff;display: inline-block;height: 22px;padding: 0 6px;line-height: 22px;position: absolute;top: 7px;right: 6px;text-align: center;font-size: 12px;color: #777;border-radius: 1px;z-index: 30; opacity: 0.5}
  textarea{border: none;}

  .loading{
    position: absolute; top: 50px;    width: 100%;    color: #676767;
    left: 0;    padding: 10px;    text-align: center;
  }
}


#fork-wraper {
  .btn{margin: 0 10px;}
}


.preiew-wraper{
  iframe{
    border: none; width: 100%; height: 100%
  }
  .toolbox{
    position: fixed; right: 20px; width: 40px; top: 20px;background-color: #FFF; 
    a{display: block; text-align: center;}
  }
  .top-bar{
    height: 50px; background-color: #000; width: 100%; 
    a{
      display: inline-block; color: #AAA; 
      text-decoration: none; line-height: 50px; margin-left: 10px;
      font-family: '微软雅黑';

      &.right{
        margin-right: 10px;
      }

    }
  }
  .fa-bars{
    display: inline-block; position: absolute; cursor: pointer;   font-size: 20px;
    color: #828282;    left: 10px;    top: 15px;
  }
}
