.doc-left{
  background: #fff;position: fixed;top: 0;left: 0;bottom: 0;width: 200px;
  overflow-y: auto;overflow-x: hidden;-webkit-overflow-scrolling: touch;padding: 15px 0 30px 30px;
  border-right: 1px solid #bbb;box-shadow: 0 0 20px #ccc;-webkit-box-shadow: 0 0 20px #ccc;-moz-box-shadow: 0 0 20px #ccc;
  ul{margin: 0; padding: 0}
  li{list-style: none}
  a{color: #333}
  & > ul > li{
    font-weight: bold; font-size: 14px;
    ul{
       font-weight: normal;font-size: 13px;
       a:before{
        content: "- "
       }
    }
  }
}


.doc-wrap {
  padding: 50px; padding-left: 250px; padding-top: 20px;
  article{font-size: 15px;}
  h1,h2,h3,h4,h5,h6{font-weight: bold; padding-top: 10px;}
  h3{font-size: 18px;}
  h4{font-size: 16px;}
  & > .title{
    border-bottom: #e78170 5px solid;
    
  }
}

.no-doc{
   text-align: center;  padding-top: 100px;
}

.doc-title{
  padding: 5px; text-align: center;position: absolute; width: 100%; z-index: 100;
  .btns-wrap{position: absolute;top: 10px;right: 10px;}
  .doc-merge-btn {position: absolute;top: 10px;right: 250px;}
  h4{display: inline-block}
}

.doc-editor{z-index: 10;width: 100%; height: 100%; padding-top: 75px;position: absolute; box-sizing: border-box;top:0 ;}

#cover-privew{border: #D2E5E4 5px solid;margin-top: 10px;}
