.note-wraper {
  color: #BDBDBD; text-align: center; border-bottom: #EEE 1px solid;  padding: 20px 0;  margin-bottom: 20px; position: relative; display: none;
  .fa-close{
    cursor: pointer;  display: inline-block; position: absolute;right: 0;  top: 20px;  font-size: 20px;
  }
}
.menu-typs{
  display: block; /* border-right: #DDD 1px solid; */
  li{
    list-style: none;
    a{color: #999;font-weight: 600;}
    .arrow{color: #FFF;}
  }
  & > li > ul{
      padding-left: 25px; display: none;
     a{color: #b6b9cb;}
  }

}

.main{
  padding: 20px; background-color: #FFF;
  &.new-lib{
    text-align: center;
    .txt{width: 500px;font-size: 1.2em;font-weight: 400;padding: 10px 16px;border: solid 3px rgba(10, 20, 80, .05); outline: none;color: #2d3855;font-family: sans-serif;}
    p{margin: 30px 0;}
  }
}

.list-wraper{
  box-shadow: none; background-color: #FFF; margin-bottom: 0;  border-left: none;  border-right: none;
  .panel-heading{font-size: 12px; background-color: #FFF; border-color: #FFF; text-align: center;}
  .nav-heading {
    padding: 5px; font-size: 12px;border-color: #EEE;
    & > ol{
      padding-bottom: 0;margin-bottom: 0; display: inline-block;
    }
  }
  .sub-repo{
    float: right;  margin-right: 10px;  margin-top: 5px; text-decoration: none;
    &:link,&:visited{color: #C0C0C0}
    &:active,&:hover{color: #000}
  }

  .filter{
    margin:0; padding:0;
    li{list-style: none; display: inline-block}
  }
  .list-group{
    h3{font-size: 16px; font-weight: bold; display: inline-block; margin-right: 20px;color: #2d3855}
    .list-group-item > span{
      /* color: #999; */
    }
  }
  .breadcrumb{background-color: #FFF}

}
.nolist{
    text-align: center;
  }
.list-header{
  padding-bottom: 10px;
  *{color: #b6b9cb; }
  .num{color: #444}
  ul{
    margin:0; padding: 0; 
    li{
      list-style: none; display: inline-block; margin-right: 5px;
      a{text-decoration: none;}
    }
  }

}

.breadcrumb{padding-bottom: 0;margin-bottom: 0;}
.repo-home{
  border-bottom: #A3A3A3 1px solid; padding-bottom: 20px;  
  & > img{height: 40px; margin-right: 10px;}
}

.doc-banner{
   background-color: #417DB8;  margin-top: -20px; margin-bottom: 20px; background-image:url("/assets/banner-bg.png");
  text-align: center; color: #FFF; padding: 70px;
  .txt{border:none; outline: none;  padding: 8px 35px; border-radius: 100px; color: #333; width: 300px;margin-left: -40px;}
  h5{color: #71B5F7}
  .serach-btn{background: none; border: none; color: #417DB8; margin-left: -30px; outline: none;}
  .sub-btn{background: none; border: none; color: #417DB8; outline: none;}
  *{padding: 5px 0;}
  form{display: inline-block}
  &.repo-banner{
   h4 {
      font-family: Montserrat;  font-weight: bold;
    }
    .serach-btn{}
  }
}


.repo-list{
  h4{ 
    small{font-size: 12px;}
  }
  .panel-body{
    
  }
  a{color: #333; text-decoration: none;}
  strong{font-size: 14px; margin-right: 10px;}
  .item{
    display: block; padding: 10px; border: #E0E0E0 1px solid; margin: 5px;box-shadow: 1px 1px 5px #EAEAEA;
    small{color: #B3B3B3;}
  }
  .panel{box-shadow: 1px 1px 5px #ECECEC;}
}


.list-typs{
  padding: 0;
  li{
    list-style: none ;display: inline-block; background-color: #EEE;padding: 5px 20px; border-radius: 4px;  margin: 5px;
    a{text-decoration: none}
    span{margin-left: 5px;color: #D27070}
  }
}


#btn-markdown{  position: absolute;  top: 10px;  right: 300px;  z-index: 1000;}


.repo-list-wraper{
  background-color: #FFF;
  & > div{
    padding: 20px 0; overflow: hidden; border-radius: 0;position: relative;  padding-left: 170px; padding-right: 30px; min-height: 130px;
    
    &:hover{
      li.vs{
        display: inline-block;
      }
    }

    .caption{
      & > p{ 
        color: #999999;overflow: hidden; margin: 0;
      }
      a{color: #333333;  text-decoration: none}
    }
    .cover{width: 130px; height: 90px;  border-radius: 3px; position: absolute; margin-right: 10px; left: 20px;}
    & > ul{
      margin: 0; padding: 0; font-size: 10px;
      
    }

  }

  h3{font-weight: 600; font-size: 21px; margin-top: 1px; margin-bottom: 5px;} 

  .extras{
    font-weight: bold;
    li{
      display: inline-block;
      list-style: none;
      margin-right: 10px;
    }
    a{
      display: inline-block; 
      border: #EEE 1px solid;
      font-size: 10px;
      border: rgba(1, 47, 98, 0.07) 1px solid;
      font-size: 10px;
      color: rgba(0, 39, 82, 0.39);
      padding: 0 10px;
      margin-top: 10px;
      border-radius: 2px;
      text-decoration: none;
      i.fa{
        margin-right: 1px;
        &.fa-hand-lizard-o{
          margin-right: 3px;
        }
      }
      &.active{
        background-color: #ff9500;
        color: #FFF;
        border-color: #ff1c00;
      }
    }

    li.vs{
      display: none;
      a{
        border: 0;
      }
    }


  }
}

@media(max-width: 768px) {
  .repo-list-wraper{
    & > div {
      padding-left: 90px;
      .cover{
        width: 70px;
        height: auto;
        left: 10px;
      }
      .caption p{
        height: 25px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
      }
    }
    
  }

}


.fresh{
  display: inline-block; background-color: #EEE; border-radius: 100%; width: 15px; height: 15px;
  position: absolute; right: 0; top: 56px;
  &.outdated{background-color: #FFBCBC}
  &.often{background-color: #A4EDA4}
}

  
.sort-banner{
  text-align: center; padding-top: 10px;  border-top: #EEE 1px solid;
  a{
    display: inline-block; margin-left: 10px; color: #444;
  }
  &.on-hot{
    .hot{color: #3997d9}
  }
  &.on-new{
    .new{color: #3997d9}
  }
  &.on-trend{
    .trend{color: #3997d9}
  }
}

.repo-recommends-wraper{
  background-color: #FFF; padding: 20px;
  .cover{width: 100%; }
}


.home-wraper{
  text-align: center; padding-bottom: 100px; margin-top: -60px;
  & > *{
    margin: 40px 0;
  }
  .search-txt{border: #DDD 1px solid; width: 100%; max-width: 300px;  outline: none;  padding: 5px 10px; border-radius: 5px;}
  .home-bottom{
    a{
      display: inline-block; color: #DDD; 
    }
    span{
      color: #DDD; 
      &:after{
        content: ' / '
      }
    }
   
  }
}




// 在线编码
.code-outer{
  width: 100%; padding: 20px; padding-top: 0; position: relative; padding-left: 220px; overflow: hidden;
  #left-bar{
    width: 200px; height: 700px; position: absolute; left: 20px; top: 0; border: #EEE 2px solid; border-right: 0;
    .repo{
      text-align:center; margin-bottom: 20px;
      a{color: #444; text-decoration: none}
    }
    .cover{
      width: 100%; border-radius: 4px;
    }
    ul{
      margin: 0; padding: 0;
      li{list-style: none; }
      a{text-decoration: none}
      a:link, a:visited{color: #777; }
      a:hover, a:active{color: #333; }
    }
    .inner-out{padding: 20px;}
    
  }
  .inner-bar{position: relative; width: 100%; height: 100%;}
  
  .fold{
    display: inline-block; width: 20px; height: 60px; top: 40%; background-color: #DDD; position: absolute; right: 0;
    text-align: center; line-height: 60px; cursor: pointer; opacity: 0.5; z-index: 100;
  }
  #toolbox{
    width: 300px;  position: absolute;  background-color: #FFF;  z-index: 800;  overflow-y: scroll;
    border-left: #EEE 1px solid;   top: 41px;    right: -300px;    height: 654px;
    
    select{ width: 100%;}
    
    
    ul{
      margin: 0; padding: 0;
      li{
        list-style: none; display: block; padding: 0px 10px; 
        &.level-1{
          padding: 5px 10px;border-bottom: #F5F5F5 1px solid; cursor: pointer;
          & > ul{
            display: none;
          }
        }
        &.level-2{
          display: none;
        }
        &.level-3{
          font-size: 12px; color: #8A8A8A;
        }
      }
    }
  }
  
  .side-bar{
    .fold-btn{
      position: absolute; font-size: 12px; top: 12px; right: 5px;  color: #DDD;cursor: pointer;
    }
  }

  .search{
    border-bottom: #EEE 1px solid; padding-right: 20px;  float: right;
    height: 40px;    border-left: #EEE 1px solid;    padding: 0 5px; 
    .txt{
      width: 100%; outline: none;     border: 0; height: 38px;line-height: 38px;
    }
  }
}


.CodeMirror{height: 100%!important;;}
.CodeMirror-hscrollbar{overflow-x: hidden!important;}
.CodeMirror-vscrollbar{display: none}
.CodeMirror-wrap pre{line-height: 20px!important;  }


.new-repos{
  background-color: #F8F8F8; overflow: hidden;

}

.home-banner{
  text-align: center
}

/**
 * 最新框架
 */
.home-news-wraper{
  width: 80%;
  margin: 50px auto;
  .inner{
    background-color: #FFF; padding-bottom: 10px; margin-bottom: 1px; padding: 20px; /* box-shadow: 1px 1px 10px #f4f4f4; */
    padding-left: 120px; position: relative;
    .desc{
      overflow: hidden;
      strong{font-size: 15px;}
      h4{font-size: 17px;}
      p{color: #616161}
    }
    a{
      color: #333
    }
  }
  .title{
    padding: 10px 30px;
    background-color: rgb(255, 255, 255);
    border-bottom: #da552f 1px solid;
    color: #da552f
  }
  .cover{
    display: block;
    width: 100px;
    position: absolute;
    left: 10px;
    border-radius: 4px;
  }

  .home-use{
    padding: 40px 10px;
    background-color: #FFF;
    
    margin-bottom: 20px;
    //border: #f3f3f3 1px solid;
    .tx{
      width: 50px;
      height: 50px;
      display: inline-block;
      //position: absolute;
      border-radius: 100%

    }
    .go{
      display: inline-block;
      border: #428bca 1px solid;
      color: #428bca;
      padding: 5px 20px;
      text-decoration: none;
    }
    .mem-inner{
      position: relative;
      text-align: center;
      padding: 20px 0;
      a{
        color: #333;
        text-decoration: none;
      }
      label{
        display: inline-block;
        //background-color: #DDD;
      }
    }
  }

  .home-rss{
    padding: 30px;
    background-color: #FFF;
    
    margin-bottom: 20px;
    .remark{
      margin-top: 10px;
      color: #CECECE;
      text-align: center;
    }
    .form-inner{
      padding-right: 70px;
      position: relative;
      button{
        position: absolute;
        right: 0;
        top: 0
      }
    }

    .more{
      text-align: center; padding: 20px;
    }

    &.home-vs{
      h5{
        font-size: 20px;
        i{
          color: Red;
          margin: 0 10px;
          font-size: 14px;
        }

      }
      
    }
  }

  .home-subject{
    .pic{
      width: 100%;
      padding: 1px;
      margin-top: 15px;
      box-shadow: 1px 1px 1px #dadada;
    }
    h4.name{
      color: #777;
      font-size: 14px;
      text-align: center;
    }
  }
}

@media(max-width: 768px) {
  .home-news-wraper{
    .inner{
      padding-left: 90px; 
    }
    .cover{
      width: 70px;
    }
  }
}

a.visit-btn{
  padding: 15px 40px;
  display: inline-block;
  color: #fff;
  background-color: #494949;
  text-decoration: none;
  margin: 20px;
  text-decoration: none;
}

.trends-wraper{
  padding: 30px;  position: relative; max-width: 700px;
   margin: 0 auto; background-color: #FFF; 

  .trend-name {
    text-align: center;
    margin-bottom: 40px;
    border-bottom: #e7e7e7 1px solid;
    padding-bottom: 40px;
  }

  .list-trend-item{
    height: 100px; box-sizing: border-box; color: #444; text-decoration: none;
    padding: 10px 50px;   padding-left: 70px;    position: relative;
    border-left: 0;    border-right: 0;   display: block; 
    
    .thumbile{
      width: 30px;
      border-radius: 100%;
      margin-left: 20px;
    }
    
    .desc{
      text-overflow: ellipsis;   white-space: nowrap;  overflow: hidden; 
      h3{
        font-weight: 600; font-size: 21px; margin-top: 10px;  margin-bottom: 5px;
        a{
          color: #333333; text-decoration: none;
        }
      }
    }

    .side{
      position: absolute;  top: 0;
      &.side-left{
        font-size: 15px;
        left: 0px;
        margin-top: 20px;
        box-sizing: content-box;
        &.nth-1{
          color: rgb(204, 0, 0)
        }
        &.nth-2{
         color: #218655
        }
        &.nth-3{
           color: #017FA9
        }
      }
      &.side-right{
        right: 0;
      }
      .fresh{
        position: relative; right: auto; top: auto;
      }
    }

  }

  .more{
    text-align: center; padding: 20px;
  }
}


.sleep-wraper{
  padding: 100px 10px; text-align: center;
  .fa-bed{font-size: 50px;}
  .inner{
    background-color: #FFF; text-align: left; color: #333; font-size: 15px;
    padding: 50px; max-width: 1000px; margin: 0 auto;
  }
}


.home-search{
  max-width: 400px; margin: 0 auto; position: relative; margin-bottom: 20px;margin-top: 50px;
  input{
    padding: 20px 50px;
    padding-right: 55px;
    outline: none;
    border: none;
    border-bottom: #d0d0d0 1px dashed;
    width: 100%;
    background: transparent;
    text-align: center;
    font-size: 15px;
  }
  button{
    background: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 20px; 
    font-size: 20px;
    color: #DDD;
    outline: none;
  }
}

/** we use **/
.wesue-banner{
  background-color: #F8F8F8;
  padding: 50px 0;
  text-align: center;

  p{
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .share-btn{
    display: inline-block;
    border: #a94442 1px solid;
    padding: 5px 20px;
    color: #d9534f;
    text-decoration: none;
  }
}

.weuse-item{
  text-align: center;
  margin-top: 50px;
  .tx{
    width: 50px;
    height: 50px;
    border-radius: 100%
  }
  .links {
    font-size: 20px;
    a{
      color: #adadad;
      margin: 0 8px;
    }
    .fa-twitter{
      color: #1AB2E8;
    }
    .fa-weibo{
      color: #E6162D;
    }
    .fa-home {
      color: #dccb9f
    }
    .fa-github{
      color: #000;
    }
  }
}

.weuse-repos{
  text-align: center;
  border-bottom: #DDD 1px dashed;
  padding-bottom: 40px;
  margin-top: 40px;
  a{
    color: #0b0b3a;;
    text-decoration: none;
  }
  .cover{
    width: 60px;
    border-radius: 4px;
  }
  .title{
    height: 30px; overflow: hidden;
  }
}


.weuse-rule{
  background-color: #FFF;
  padding: 10%;
  word-break: break-all;

  h3{
    text-align: center;
    padding-bottom: 50px;
    border-bottom: #DDD 1px dashed;
    margin-bottom: 50px;
  }

  h4{
    margin-top: 40px;
  }

  img{
    max-width: 100%;
    margin: 20px 0;
  }
}


h5.use-title{
  text-align: center;
  margin: 50px 0;
  margin-top: 30px;
  padding-top: 70px;
}
.join-use-wraper{
  .cover{
    width: 100px;
    max-width: 100%;
  }

  .inner{
    padding: 5%;
    text-align: center;
    margin-top: 30px; 
  }

  a{
    color: #333;
    text-decoration: none
  }

  .using{
    cursor: pointer;
    display: inline-block;
    border: #9C9C9C 1px solid;
    padding: 0 10px;

    &.true{
      background-color: #ff9500;
      border-color: #ff9500;
      color: #FFF;
    }
  }

  .search{
    margin-top: 150px;
    text-align: center;
   
    input{
      border: #E2E2E2 1px solid;
      background-color: rgba(250, 250, 250, 0.42);
    }
  }

}

.use-select{
  .alert{
    text-align: center;
    margin-top: 30px;
  }
}


#vs-main{
  margin-top: 50px;
}

.tips{
  text-align: center;
  p {
    display: inline-block;
    background-color: #EEE;
    padding: 10px 50px;
    border-radius: 1000px;
  }
}

.vs-logo{
  text-align: center;
  font-size: 100px;
  color: #ff9500;
  font-weight: bolder;
}

.rs-wraper{
  .rs-item {
    margin-top: 100px;
    border-top: #EEE 1px solid;
    position: relative;
    min-height: 100px;
    padding-top: 50px;
    padding-right: 50px;
  }
  .cover {
    //border-radius: 100%;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -68px;
    padding: 10px;
    border: #EEE 1px solid;
    background-color: #FFF;
  }
  .time {
    color: #adadad;
  }

  .download {
    position: absolute;
    right: 0;
    top: 90px;
    border: #428bca 1px solid;
    padding: 0 10px;
    color: #428bca;
    text-decoration: none;
  }

  .split {
    color: #ff9500;
  }

  article{
    word-wrap: break-word;
    font-size: 14px;
    h1 {
      font-size: 22px
    }
    h2 {
      font-size: 20px
    }
    h3 {
      font-size: 18px
    }
    h4 {
      font-size: 16px
    }
    h5 {
      font-size: 14px
    }
    img{
      display: none;
    }
  }
  
}