.mem-wrap{
    padding-left: 200px; position: relative; min-height: 500px;
  .left-bar{
    width: 180px;padding-right: 10px; position:absolute; top:0px;left:0;bottom:0; border-right: #ddd 1px solid;
    .inner{padding: 20px; padding-top: 0;}
    .tx{width: 100%;} 
    ul{
      margin:0;padding: 0;
      li{list-style: none}
    }
  }
}


.mem-wraper{
  padding: 10px; position: relative; background-color: #FFF; box-shadow: 1px 1px 1px #DADADA; padding-left: 100px; min-height: 100px;
  .tx{width: 80px; height: 80px; border-radius: 5px; display: inline-block; position: absolute; left: 10px; top: 10px;}
  h3{margin: 0;}
  .desc{color: #999}
  ul{
    padding: 0; margin: 0;
    li{
      list-style: none;
      &.thirds{
        font-size: 14px;
        a{
          text-decoration: none;display: inline-block; margin-right: 10px; background-color: #F9F9F9;  color: #999;  box-shadow: 1px 1px 1px #E5E5E5; padding: 2px 10px;
          max-width: 250px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;
          i{
            padding-right:5px; display: inline-block; height: 100%; color: #FFF;
            &.fa-home{color: #A1DD9A;}
            &.fa-twitter{color: #918FF9}
            &.fa-github{color: #2EB4E5}
            &.fa-map-marker{color: #F7888F}
          }
        } 
      }
    }
  }
}

.mem-main{
  background-color: #FFF; box-shadow: 1px 1px 1px #DADADA; margin-top: 20px; 
  .menus{
    border-bottom: #EEE 1px solid;
    ul{margin: 0; padding: 0;}
    li{
      list-style: none; display: inline-block; padding: 10px; margin: 0 10px;
      a{text-decoration: none; color: #ADADAD}
      &.on{
        border-bottom: #616161 3px solid; 
        a{
          color: #616161;
        }
      }
    }
  }
  .con-wrap{
    padding: 20px;

  }
}

.mem-list-wraper
{
  padding: 0;
  li{
    list-style: none; display: block; border-bottom: #EEE 1px solid; padding: 10px 0;
  }
}
