.mem-wrap{
    padding-left: 200px; position: relative; min-height: 500px;
  .left-bar{
    width: 180px;padding-right: 10px; position:absolute; top:0px;left:0;bottom:0; border-right: #ddd 1px solid;
    .inner{padding: 20px; padding-top: 0;}
    .tx{width: 100%;} 
    ul{
      margin:0;padding: 0;
      li{list-style: none}
    }
  }
}




.mem-wraper{
  max-width: 800px;
  .banner{text-align: center;}
  .tx{width: 70px; height: 70px;  border-radius: 100%; margin-bottom: 10px;}
  //.inner{ border-top:#DDD 1px solid }
  .menu{
    text-align: center; display: block; border: #DDD 1px solid; border-left: 0; border-right: 0; padding: 5px; 
    margin: 20px 0; padding: 20px 50px;
    li{list-style: none; display: inline-block; margin: 10px;}
    a{
      text-decoration: none;
      color: #333;
      padding: 0 6%;
      span {
        color: #555;
        font-weight: bold;
      }

    }
    .active{
      *{color: Red}
    }
    p{
      margin: 0
    }
  }
  .con{
    .sites{
      text-align: center; padding: 10px;border-bottom: #E6E6E6 1px solid;  margin-bottom: 30px;
      i{font-size: 30px;}
      & > div{display: inline-block; margin: 10px;}
    }
  }


  .home-wraper{
    max-width: 500px;  margin: 0 auto;  border: #F0F0F0 1px solid;  padding: 50px;  margin-top: 50px;
    a{color: #444}
    #rank-wraper{
      .data,h3{color: #DA552F};
      h3{cursor: pointer; display: inline-block}
    }

    #using-wraper{
      text-align: center;
      a{text-decoration: none;}
      .cover{
        width: 100%;
        border-radius: 4px;
      }
      .close {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 18px;
        display: none;
      }
      .item{
        margin-top: 20px;
        &:hover{
          .close{
            display: inline-block;
          }
        }
      }
      .title{
        height: 30px;
        display: block;
        overflow: hidden;
      }


    }
  } 

  .home-extra{
    text-align: center; padding-top: 50px;
    .rank-note{font-size: 10px; color: #989898;}
    
  }

}


.mem-main{
  background-color: #FFF;  margin-top: 20px; 
  .menus{
    border: #EEE 1px solid;border-bottom: #DDD 3px solid;
    ul{margin: 0; padding: 0;}
    li{
      list-style: none; display: inline-block; padding: 10px; margin: 0 10px;padding-top: 13px;
      a{text-decoration: none; color: #ADADAD}
      &.active{
        border-bottom: #DA552F 3px solid;   margin-bottom: -3px;
        a{
          color: #616161;
        }
      }
    }
  }
  .con-wrap{
    

  }
}




.github-list{
  .list-group{
    a{
      &:link,&:visited{color: #444}
    }
    
    small{color: #888}
    .list-group-item{
      position: relative;
      & > p{margin: 0;  padding-right: 30px;text-overflow: ellipsis;  white-space: nowrap;  overflow: hidden; display: block;}
    }
    .stars{position: absolute; right: 10px; top: 20px;}
  }
  .sync{color: #888; float: right;}
}

.mark-list{
  .thumbnail{
    padding: 0;
    .close{position: absolute;top: 10px;    right: 25px;  font-size: 18px; display: none}
    &:hover{
      .close{display: inline-block;}
    }
    .caption{
      border-top: #EEE 1px solid;
    }
    h4{text-overflow: ellipsis;    white-space: nowrap;   overflow: hidden; text-align: center}
  }
  
}


.info-wraper{
  .uptx{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
  }
  .upwrap{
    text-align: center;
  }

}


/* 角色 */
.role-user{
  background-color: #777
}
.role-vip{
  background-color: #ff9500
}

.thirty-bind{
  padding: 20px 0;
  h5{
    border: #DDD 1px solid;
    border-left: 0;
    border-right: 0;
    padding: 10px;
    text-align: center;
  }
  .item{
    position: relative;
    padding: 0 30px;
    padding-left: 25px;
  }
  .inner{
    overflow: hidden;
  }
  i.fa{
    font-size: 20px;
    position: absolute;
    left: 0;
    display: inline-block;
    top:0
  }
  a{
    right: 0;
    position: absolute;
    display: inline-block;
    top:0
  }
}