.mem-wrap{
    padding-left: 200px; position: relative; min-height: 500px;
  .left-bar{
    width: 180px;padding-right: 10px; position:absolute; top:0px;left:0;bottom:0; border-right: #ddd 1px solid;
    .inner{padding: 20px; padding-top: 0;}
    .tx{width: 100%;} 
    ul{
      margin:0;padding: 0;
      li{list-style: none}
    }
  }
}


.mem-wraper{
  padding: 10px; background-color: #FFF; box-shadow: 1px 1px 1px #DADADA; padding-left: 100px; min-height: 100px;
  .tx{width: 80px; height: 80px; border-radius: 5px; display: inline-block; position: absolute; left: 25px; top: 10px;}
  h3{margin: 0; margin-top: 3px;}
  .desc{color: #999}
  ul{
    padding: 0;
    li{
      list-style: none;
      &.thirds{
        font-size: 14px;
        a{
          text-decoration: none;display: inline-block; margin-right: 10px; background-color: #F9F9F9;  color: #999;  box-shadow: 1px 1px 1px #EEE;
          i{padding: 0 5px; display: inline-block; height: 100%; color: #FFF;}
          span{padding: 0 5px;display: inline-block;background-color: #F9F9F9; }
          &.home{background-color: #A1DD9A;}
          &.twitter{background-color: #918FF9}
          &.github{background-color: #2EB4E5}

        } 
      }
    }
  }
}