.doc-title{
  text-align: center; color: #444; border-bottom: #EEE 1px solid; padding: 20px;
}
.capa-list{
  padding: 20px;
  a{margin: 5px 0; display: inline-block;}
  .fa-file-pdf-o{color: #C5C4C4}
}
.capa-logo{width: 300px; margin: 20px 0;}