.rank-wraper{
  background-color: #F1F1F1;
  .container{
    max-width: 950px;
  }
  .banner{
    border-bottom: #DDD 1px solid; text-align: center; height: 400px;; background-color: #0099C3; color: #FFF; overflow: hidden; position: relative;
    a{color: #EEE}

    .inner{
      position: absolute;  top:0; left: 0; width: 100%; height: 100%;padding: 220px 0; padding-top: 50px;
    }
  }

  .list-main{
     margin-top: -200px; background-color: #FFF;


    
    .list-group-item{
      padding: 10px 50px; padding-left: 140px;   border: #DDD 1px dashed; position: relative;    border-left: 0; border-right: 0; 
      height: 100px; box-sizing: border-box; 
      .cover{
        width: 80px; border-radius: 5px; position: absolute; left: 50px; margin-top: 10px;
      }

      .desc{
        text-overflow: ellipsis;   white-space: nowrap;  overflow: hidden; 
        h3{
          font-weight: 600; font-size: 21px; margin-top: 10px;  margin-bottom: 5px;
          a{
            color: #333333; text-decoration: none;
          }
        }
      }
      
      .side{
        width: 50px; text-align:center; position: absolute;  top: 0; height: 100%;  line-height: 100px;
        &.side-left{
          left: 0; font-size: 20px; 
        }
        &.side-right{
          right: 0;
        }
        .fresh{
          position: relative; right: auto; top: auto;
        }
      }

      &.first{
        height: 200px;
        border: 0;
        padding: 0;
        text-align: center;
        padding: 0 10px;
        overflow: hidden;
        background-color: rgba(8, 105, 132, 0.52);
        color: #60bed8;
        padding-top: 5px;

        .cover{
          position: relative;
          border-radius: 100%;
          width: 90px;
          left: 0;
        }
      }
    }
  }

  .filter{
    margin-top: 30px;
    a{
      display: inline-block; background-color: none; border: #FFF 1px solid; margin: 0 10px; padding: 0 10px;
      text-decoration: none;
      &.active{
        background-color: #FFF; color: #0099C3;
      }
    }
  }

  .bottom{
    text-align: center; color: #333; padding: 50px;
  }
}
