.about-wraper{
  padding: 10px; background-color: #F9F9F9;border: 1px solid #c9d8db;
  small{color: #969696;}
}

.contris{
	padding: 0; float: right;
	li{list-style: none; display: inline-block; margin-left: 5px;}
	img{width: 25px; height: 25px; border-radius: 100%}
}

.resource-list{
	position: relative;
	.list-group-item{
		border-color: #F0F0F0;  border-left: 0; border-right: 0;

		&:hover{
			span.yes .op{display: inline-block;}
		}

		&:first-child{
			border: 0;
		}
	}

	.opers{
		position: absolute;right: 10px; width: 100px; top: 10px;text-align: right;
		a{
			margin-left: 10px; opacity: 0.5; display: inline-block;
			&:hover{
				opacity: 1;
			}
			&.op{display: none;}
		}
		.tx{
			width: 20px; height: 20px; border-radius: 4px;-webkit-transition:all,.5s,ease,0s;
			
		}
	}
	
}
.panel-footer small{
	color: #898989;
	a{color: #898989;  font-weight: bold;}
}

.diff-wraper{
	& > article{
		padding: 20px; background-color:#FFF;display: block;
	}
}

.diff-list{
	padding: 0;
	li{list-style: none; display: block; border-bottom: #D3D3D3  1px dashed }
	.tx{width: 20px; height: 20px; border-radius: 3px;}
}

a.repo-title{
	color: #333; text-decoration: none;
	& > h2{display: inline-block;}
}


.repo-item{
	display: block; height: 150px; background-color: #FD635E;  text-align: center;margin: 15px 0;  box-shadow: 1px 1px 1px #DDD;
	*{color: #FFF;}
  &.item-1{background-color: #FD635E}
  &.item-2{background-color: #F2A054}
  &.item-3{background-color: #BB9CE6}
  &.item-4{background-color: #94AFF1}
  &.item-5{background-color: #C86464}
  &.item-6{background-color: #BACD6F}
  &.item-7{background-color: #E5B018}
  &.item-8{background-color: #62C857;}
  &.item-9{background-color: #79C8B3}
  &.item-10{background-color: #DD79B2}
  i.fa{font-size: 3em;}
  h3{margin: 0; font-size: 18px;  padding: 0; padding-top: 30px; padding-bottom: 20px; text-align: center;}
  &.h-2{
  	height: 330px;
  	h3{font-size: 2em;  padding-top: 50px;}
  	i.fa{font-size: 10em;}
  }
}

.repo-list {
	.more{display: block; width: 200px; text-align: center; padding: 20px 0; margin: 0 auto; margin-top: 50px; background-color: #EEE; color: #bbb}
}

