.site-wraper{
  font-size: 15px;
  h1{text-align: center;  font-size: 30px;  border-bottom: #E5E5E5 1px solid;  padding-bottom: 20px;  margin-bottom: 30px;}
  .left-menus{margin-top: 30px;}
}

.logos-wraper{
  img{margin-right: 50px;}
  p{margin-top: 40px;}
}