.sub-banner{
  //background-color: #EFEEEE;
  text-align: center;
  padding: 50px 1%;

  .sub-links{
    a{
      padding: 7px 20px;
      border: #19C2FF 1px solid;
      color: #19C2FF;
      margin: 0 10px;
      text-decoration: none;

      &.gitbtn{
        color: #EF4245;
        border-color: #EF4245;
      }
    }
  }
}
.home-card{
  display: block; box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12); margin: 20px 0;
  border-radius: 2px; position: relative;     border-top: #EEE 1px solid;
  img.cover{width: 100%;border-radius: 2px;}
  .layer{
    background: rgba(0, 0, 0, 0.2); color: #FFF; bottom: 0; width: 100%; position: absolute; padding: 5px 10px ;
    h5{font-size: 20px; text-align: center;}
  }
}
.card{
  margin: 0 10px;
  display: block;   position: relative; background-color: #FFF;
  //margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border-top: #f5f5f5 1px solid;
  padding-left: 110px;
  padding-right: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  &.active{
    background-color: rgba(138, 109, 59, 0.04);
  }
  .cover{
    height: 60px;
    position: absolute;
    left: 40px;
    border-radius: 4px;
  }
  .layer{
    background: rgba(0, 0, 0, 0.2); color: #FFF; bottom: 0; width: 100%; position: absolute; padding: 5px 10px ;
    h5{font-size: 20px; text-align: center;}
  }
  h4{
    font-size: 20px; padding: 1px 10px; white-space: nowrap; text-overflow: ellipsis;  overflow: hidden;
     margin: 0;  
  }
  .sdesc{ 
    padding: 10px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.541176);
    height: 42px;
  }
  .fresh{ 
    margin-right: 10px;
    left: 12px;
    top: 36px;
  }
  .extra{
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 36px;
    color: #c3c3c3;
  }

  &.card-small{
    & > img{border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
  }
}

.overview{
  text-align: center;    position: relative;    margin: 30px 0;
  .navs{
    position: absolute; top: 0; left: 0;
  }
}

.subject-banner{
  text-align: center;
}


.admins-wraper{
  .item{
    background-color: #FFF;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    a{
      color: #444; 
      text-decoration: none;
    }
    .thumbile{
      width: 100%
    }


  }
  h3{
      text-align: center;
    }
}

.videos-wraper{
  margin-top: 420px;
  .item{
    background-color: #FFF;
    margin: 20px 10%;
    padding: 20px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    a{
      color: #444; 
      text-decoration: none;
    }
    .thumbile{
      width: 100%
    }


  }
  h3{
      text-align: center;
    }
  .tags{
    height: 100px;
    overflow: hidden;
    label{
      padding: 10px 20px;
      color: #524a4a;
      margin: 10px;
      display: inline-block;
      background-color: #cdcbcb;

    }
  }  
}

@media(max-width: 768px) {
  .videos-wraper{
    .item{
      margin: 20px 0px;
    }
    .tags{
      height: auto;
      overflow: visible;
    }

  }
}



.admins-banner{
  background-image: url('/assets/bg-blue-blueprint.jpg');
  color: #FFF;
  text-align: center;
  padding: 60px 0;
  h1{
    font-size: 100px;
  }
  p{font-size: 14px;}
}

// 视频背景

.videos-banner{
  background-image: url('/assets/bg.gif');
  text-align: center;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 400px;
  h1{
    font-size: 100px;
  }

  .main_content{
    z-index: 10;
    position: relative;
    display: inline-block;
    color: #FFF;
    margin-top: 80px;
    opacity: 0.4;
  }
}



.bg-videos-wraper{
  margin-top: 20px;
  text-align: center;
  .item{
    background-color: #f9f9f9;
    margin: 20px 10%;
    padding: 20px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    border-top: #f5f5f5 1px solid;
    a{
      color: #444; 
      text-decoration: none;
    }
    .thumbile{
      width: 100%;
      border-radius: 100%;
    }


  }
  .title{
    border: #DDD 1px dashed;
    border-left: 0;
    border-right: 0;
    padding: 30px 0;
    margin: 20px 0;
    color: #8b8b8b;
    text-align: center;
  }
  h3{
    text-align: center;
    height: 30px;
    overflow: hidden;
  }
  .more{
    color: #DDD;
    padding-top: 20px;
    a{
      color: #BBB;
      text-decoration: underline;
    }
  }
}



.editors-wraper{
  .item{
    //background-color: #FFF;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    //box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    border-radius: 4px;

    a{
      color: #444; 
      text-decoration: none;
    }
    .thumbile{
      width: 100%;
    }


  }
  h3{
      text-align: center;
    }
}

.editors-banner{
  text-align: center;
  padding: 50px 0;
  i{
    font-size: 50px
  }
}



.sub-repos{
  max-width: 800px;
  margin: 0 auto;
  h3{
    border: #DDD 1px dashed;
    border-left: 0;
    border-right: 0;
    padding: 30px 0;
    margin: 20px 0;
    color: #8b8b8b;
    text-align: center;
  }
  a{
    color: #333;
    text-decoration: none;
  }

  
}

.split{
    height: 20px;
  }
.sub-nav{
  position: absolute;
  font-weight: bold;
  
  & > div {
    &.active {
      a{
        color: Red
      }
    }
  }

  .first{
    color: #DDD
  }

  &.fixed{
    position: fixed;
    top: 0
  }

  a{
    color: #2f2f2f;
    text-decoration: none;
  }
}