div.comment-wraper
  =render "layouts/comment_editor"
  //-if @comments.count > 0
  ul.comment-list
    li[data-mem="{{item.mem_id}}" v-for="item in comments"]
      a>[href="/mem/{{item.mem.id}}" target="_blank"]: img.tx[src="{{item.mem.avatar_url}}"]

      a.co-mem[href="/mem/{{item.mem.id}}" target="_blank"] {{item.mem.nc}}
      span.co-time {{item.friendly_time}}

      a.oper.zan-btn[href="javascript: void(0)" data-mem="{{item.mem.nc}}" title="赞"]
        i.fa.fa-heart-o
        span< {{item.favor}}


      a.oper.reply-btn[href="javascript: void(0)" data-mem="{{item.mem.nc}}"]: i.fa.fa-reply
        
      //-if is_login and item.mem_id == current_mem.id
      a.oper[href="/comment/{{item.id}}/edit" ]: i.fa.fa-pencil
      a.oper[href="javascript: void(0)" v-on:click="del_comment(item.id, $event)"]: i.fa.fa-trash
      div {{{item.raw_con}}}

  

  javascript:
    var comparam = {typ: '#{@comment[:typ]}', idcd: '#{@comment[:idcd]}'}
    vueExtend.push({
      data: {
        comments: []
      },
      methods: {
        initComments(){
          $.get('/comment/list', comparam, function(data) {
            App.comments = data.items
          })
        },
        del_comment(comid, event){
          if(!confirm("确定删除该评论？")){return false}
          $.post("/comment/" + comid + "/destroy", function(data){
            if(data.status){
              $(event.target).closest("li").fadeOut();
            }
          })
        },

        add_comment() {
          var param = _.extend(comparam, {
            con: App.comcon
          })
          $.post('/comment/save', param, function(data) {
            if(data.item) {
              App.comments.push(data.item)
            }
          })
        }
      }

    })

    appInit.push(function(){
      App.initComments()
    })


    $(function(){
      $('.comment-wraper').on('click','.reply-btn',function(){
        $('html,body').animate({scrollTop:$('.comment-wraper li:last').offset().top});
        markdown_editor.setValue(markdown_editor.getValue()+"@"+$(this).attr("data-mem")+" "); 
      });
    })
