css:
  [v-cloak] { display: none; }
div.login-wraper.modal-wraper
  =form_tag sessions_path(format: :json), id: 'loginForm'
    div.modal-title
      h3 =t('mem.login_tip')
      i.fa.fa-angle-up.close-modal
    div.panel.panel-default.login-panel
      //div.panel-heading: h3.panel-title =t('mem.login_tip')
      div.panel-body
        div.form-group
          //label =t('mem.email')
          input.form-control[type="text" name="email" v-on:focusout="check_act()" v-model="email" placeholder="#{t('mem.email')}"]
        
        div.form-group
          / label
          /   a[href="/find_pwd"] （#{t('mem.forgot_pwd')}）
          input.form-control[type="password" name="pwd"  placeholder="#{t('mem.pwd')}"]

        div.form-group[v-show="action.typ == 'signup'"]
          //label =t('mem.nc')
          input.form-control[type="text" name="nc" placeholder="#{t('mem.nc')}"]

          
        div.form-group
          button.btn.btn-primary[style="width: 100%"] =t('mem.login')
        
        
        div.alert.alert-danger[v-show="action.tip"] {{action.tip}}
        
        
        div.third-login
          div =t('site.thirty_login')
        
          a.github[href="javascript: third_login('/auth/github')"]
            i.fa.fa-github
          //span Github登陆
  
  
  
  javascript:
    $(function(){
      var mvvmDefault = {
        el: "body",
        data:{
          rails: Rails,
          login: Rails.login,
          action: {
            typ: 'signin',
            tip: null
          },
          vsitems: store.get('awesomes-vs') || []
        },
        methods:{
          check_act: function(){
            $.post('/mem/ckemail', {email: App.email}, function(data){
              App.action.typ = (data ? 'signin' : 'signup')
            })
          },
          emptyVS: function(){
            this.vsitems = []
            store.remove('awesomes-vs')
          },
          removeVs: function(item){
            this.vsitems.$remove(item)
            var newStores = _.filter(store.get('awesomes-vs'), function(sem){
              return sem.id != item.id
            })
            store.set('awesomes-vs', newStores)
          }
        }
      }
    

      _.each(vueExtend, function(item) {
        _.each(item, function(v, k) {
          if (_.has(mvvmDefault, k)) {
            mvvmDefault[k] = _.extend(mvvmDefault[k], v)
          }else{
            mvvmDefault[k] = v
          }
        })
      })
      

      window.App = new Vue(mvvmDefault)
      _.each(appInit, function(func){
        func()
      })
    })

  coffee:
    $('#loginForm').validate
      rules:
        email:
          required: true
          email: true

        pwd:
          required: true
          minlength: 6  

        nc:
          required: true
          remote: '/mem/cknc'

       
      messages:
        email:
          required: '邮箱不能为空'
          email: '你确定你输入的是邮箱么'
        
        pwd:
          required: '密码不能为空'
          minlength: '密码至少为6个字符'

        nc:
          required: '昵称不能为空'
          remote: '该昵称已被占用'  
      
      submitHandler: (form)->
        $(form).ajaxSubmit
          success: (data)->
            if(data.status)
              close_login()
              window.location.reload()
            else
              window.App.action.tip = data.notice
             
        
  
