doctype html
html
  head
    =render 'layouts/header'
  body
    =render 'layouts/top'
    =yield :banner
    div.container.l-margin.main-container
      div.row
        /div.col-md-2.hidden-xs
        /  =render 'layouts/left_bar'

        div.main-container
          =yield :con
          
    =render 'layouts/footer'
    

